@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Hogwarts student enrollment program!</h1>
    <p class="text-center">
        To begin, use the navigation buttons on the left.
    </p>
</div>

